header {
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    height: 100px;
    display: flex;
    position: relative;
}
.nome-header, .cargo-header {
    padding: 5px;
    margin: 0;
}
.nome-header {
    font-weight: bold;
    font-size: 32px;
}
.cargo-header {
    padding-top: 0;
    font-size: 24px;
}
.img-ana {
    margin-right: 10px;
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}